<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDxO8N1iSXPbu3AhmvXggN2Cp4DqVEPy44</string>
	<key>GCM_SENDER_ID</key>
	<string>104547839941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gp4.iaArt</string>
	<key>PROJECT_ID</key>
	<string>ia-art-quiz</string>
	<key>STORAGE_BUCKET</key>
	<string>ia-art-quiz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104547839941:ios:6d11e997fd62acc857a5ac</string>
</dict>
</plist>